:root {
  --fs-main: 1.6rem;
  --fw-main: 500;
  /* --ff-main:  */
  --clr-connect-four-border: rgb(36, 36, 36);
  --clr-connect-four-outline: rgba(7, 7, 7, .9);

  --clr-cells: white;
  --clr-red-piece : #dd0d11;
  --clr-red-piece-highlight : #9b090b;
  --clr-yellow-piece: #f9cd09;
  --clr-yellow-piece-highlight: #a39e88;
  --clr-board-main : #1855be;
  --clr-board-dark : #071c3f;
  --board-main-img : linear-gradient(var(--clr-board-main), var(--clr-board-dark));
  
 
  --grid-size: min(80vw, 50rem);
  --cell-size: calc(var(--grid-size) / 7);
  --piece-size: calc(var(--cell-size) / 10 * 8);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-main);
  /* font-family: var(--ff-main); */
  line-height: 1.2;

}

/* connect-four Canvas */
.connect-four-container {
  padding: 1em;
  /* overflow: hidden; */
  min-height: 100vh;
  margin-inline: auto;
  width: min(95%, 105.0rem);  
  background-image: linear-gradient(slategray, rgb(39, 65, 92));
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: gray; */
  
}

.connect-four{
  padding: .2rem;
  display:flex;
  justify-content:center;
  align-items:center;

  /* background-color: slateblue; */
  width: 55%;
  margin-bottom: 1em;

}

/* Grid container connect-four */
.connect-four-grid {
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, calc(var(--grid-size) / 7));
  grid-template-rows: repeat(7, calc(var(--grid-size) / 7));
  padding-inline: calc(var(--cell-size) / 5);
  /* border: .2rem solid var(--clr-connect-four-outline); */
  /* box-shadow: 0px 4px 4px 2px rgb(138, 138, 138); */
  /* background-color: var(--clr-connect-four-outline); */
  /* margin-inline: 1em; */
  
  gap: .1rem;
}

.connect-four-grid::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(var(--cell-size) * 6.1);
  background-color: var(--clr-board-main);
  background-image: var(--board-main-img);
  border: .2rem solid var(--clr-board-dark);
}



.cell {
  margin: auto;
  width: 80%;
  height: 80%;
  /* background */
  /* background-color: wheat; */
  border-radius: 50%;
}

.piece {
  box-shadow: 0 0 .1rem .2rem rgba(7, 7, 7, .2);
  border-radius: 50%;
  width: calc(var(--piece-size));
  height: calc(var(--piece-size));
}
.piece.yellow {
  background-color: var(--clr-yellow-piece);
}
.piece.red {
  background-color: var(--clr-red-piece);
}

.cell.drop-cell.red:hover {
  background-color: var(--clr-red-piece);
  
}
.cell.drop-cell.yellow:hover {
  background-color: var(--clr-yellow-piece);
  
}
/* Mimicks dropping a piece from the top */
.cell.drop-cell:hover {
  /* background-color: var(--clr-yellow-piece); */

}
.cell.drop-cell:hover {
  /* background-color: var(--clr-red-piece); */
}

/* .yellow.piece-highlight,
.red.piece-highlight{
  background-color: #204e9e;
  opacity: 20%; 
} */

.yellow.piece-highlight {
  background-color: var(--clr-yellow-piece-highlight);
  /* opacity: 20%; */
}
.red.piece-highlight {
  background-color: var(--clr-red-piece-highlight);

  /* opacity: 20%; */
}



.cell:nth-of-type(1) {
}

.cell.main {
    z-index: 2;
    box-shadow: 0 0 .4rem .1rem  rgba(7, 7, 7, .9);
    background-color: rgb(240, 240, 240);
}
.cell.main::before {
  /* position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #071c3f; */
}
.btn-reset,
.btn-concede {
  background: none; 
  border: none;
  font-size: .7em;
  padding: .7em;
  transition: ease-in .4s;
  font-weight: 500;
  box-shadow: 0 0 2px rgba(7, 7, 7, .9);
  /* color: #fff; 
  color: #000;  */
}
.btn-reset {
  
  border: .1rem solid var(black);
  /* color: #fff;  */

}

.btn-reset:hover {
  /* background-color: var(--clr-red-piece-highlight); */
  /* background-image: linear-gradient(rgb(100, 100, 100), rgb(42, 51, 61)); */

}

.btn-concede {
  border: .1rem solid var(black);
  /* color: #fff;  */

}
.btn-concede:hover {
  /* background-image: linear-gradient(rgb(235, 1, 1), rgb(116, 22, 22)); */

}






.img-name-container {
  border: none;
  position: relative; 
  /* max-width: min(20vw, 12rem); */
}

.player-img {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  /* max-width: 2.0rem; */
  /* height: 6.0rem; */
  width: 7rem;
  height: 7rem;
  max-width: 95%;
  /* background-color: rgb(73, 78, 78); */
  border-radius: .2rem;
  border: .2rem solid #000;
  /* border: 3px solid oldlace;  */
}
.player-img.my {
  /* border: 3px solid rgb(82, 218, 82); */
}

.friend-img,
.my-img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}
.names-txt {
  font-size: .8em;
  /* font-size: 1rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-one,
.player-two {
  border-left: .2rem solid black;
}



.g-info-container {
  width: 98%;
  background-color: palegoldenrod;
  /* grid-column:  1 / 3; */
}



 @media (min-width: 30em) {
  body {
    background-color: rebeccapurple;
  }
 }
 
 /* Tablet */
 @media (min-width: 48em) {
 

 }







