:root {
  --fs-main: 1.6rem;
  --fw-main: 500;
  /* --ff-main:  */
  --clr-connect-four-border: rgb(36, 36, 36);
  --clr-connect-four-outline: rgba(7, 7, 7, .9);

  --clr-cells: white;
  --clr-red-piece : #dd0d11;
  --clr-red-piece-highlight : #4e0507;
  --clr-yellow-piece: #f9cd09;
  --clr-yellow-piece-highlight: #be9c02;
  --clr-board-main : #1855be;
  --clr-board-circle-border : #124398;
  --clr-board-dark : #071c3f;
  --board-main-img : linear-gradient(var(--clr-board-main), var(--clr-board-dark));
  
 
  --grid-size: min(80vw, 50rem);
  --cell-size: calc(var(--grid-size) / 7);
  --piece-size: calc(var(--cell-size) / 10 * 8);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-main);
  /* font-family: var(--ff-main); */
  line-height: 1.2;

}

/* connect-four Canvas */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  overflow: hidden;
  padding: 1em;
  min-height: 100vh;
  margin-inline: auto;
  width: min(95%, 105.0rem);  
  background-image: linear-gradient(slategray, rgb(39, 65, 92));
  
}


/* 
.connect-four{
  padding: .2rem;
  display:flex;
  justify-content:center;
  align-items:center;

  background-color: slateblue;
  width: 55%;
  margin-bottom: 1em;

} */
/* Drop cell and connect-four-grid need a common class */
.drop-cell-grid {
  display: grid;
  grid-template-columns: repeat(7, calc(var(--grid-size) / 7));
  /* background-color: orchid; */
  height: fit-content;
  width: fit-content;
  gap: .1rem;
  padding-inline: calc(var(--cell-size) / 5);

}

/* Grid container connect-four */
.connect-four-grid {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 5px solid rgb(9, 9, 86);
  box-shadow: 0 0 10px;
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, calc(var(--grid-size) / 7));
  grid-template-rows: repeat(6, calc(var(--grid-size) / 6));
  padding-inline: calc(var(--cell-size) / 5);
  background-color: var(--clr-board-main);
  height: fit-content;
  width: fit-content;
  gap: .1rem;
}

.connect-four-grid::before {
  /* content: '';
  position: absolute;
  bottom: 0;
  width: 100%; */
  /* height: calc(var(--cell-size) * 6.1); */
  /* background-color: var(--clr-board-main); */
  /* background-image: var(--board-main-img); */
  /* border: .2rem solid var(--clr-board-dark); */
}


/* All cells inc drop cells... */
.cell {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: auto;
  /* width: 100%;
  height: 100%; */
  /* background */
  /* background-color: wheat; */
  /* border-radius: 50%; */
}

.piece {
  position: relative;
  box-shadow: 0 0 .1rem .2rem rgba(7, 7, 7, .2);
  border-radius: 50%;
  border: 3px solid black;
  width: 95%;
  height: 95%;
  /* width: calc(var(--piece-size));
  height: calc(var(--piece-size)); */
  animation: drop-piece 2s both;
  /* New */
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* 70 just testing... */
  background-size: 70px;

}
.piece.yellow {
  background-color: var(--clr-yellow-piece);

  /* background-image: url(../img/ChipDes11.png); */
}
.piece.red {
  background-color: var(--clr-red-piece);

  /* background-image: url(../img/ChipDes12.png); */

}

.cell.drop-cell.red:hover {
  background-color: var(--clr-red-piece);
  border: 3px solid black;
  box-shadow: 0 0 .1rem .2rem rgba(7, 7, 7, .2);

  
}
.cell.drop-cell.yellow:hover {
  background-color: var(--clr-yellow-piece);
  border: 3px solid black;
  box-shadow: 0 0 .1rem .2rem rgba(7, 7, 7, .2);
  


  
  
}
/* Mimicks dropping a piece from the top */
.cell.drop-cell:hover {
  /* background-color: var(--clr-yellow-piece); */

}
.cell.drop-cell:hover {
  /* background-color: var(--clr-red-piece); */
}

/* .yellow.piece-highlight,
.red.piece-highlight{
  background-color: #204e9e;
  opacity: 20%; 
} */

.yellow.piece-highlight {
  /* background-color: var(--clr-yellow-piece-highlight); */
  /* opacity: 50%; */
  animation: yellow-highlight-anim 5s linear both;

}
.red.piece-highlight {
  /* background-color: var(--clr-red-piece-highlight); */
  animation: red-highlight-anim 5s linear both;

  /* opacity: 50%; */
}



@keyframes red-highlight-anim {
  from {
    background-color: var(--clr-red-piece-highlight);
  }
   
  to {
    background-color: var(--clr-red-piece-highlight);
    border: 2px solid white;
    box-shadow: 0 0 3px 3px white;
  }
}

@keyframes yellow-highlight-anim {
  from {
    background-color: var(--clr-yellow-piece-highlight);
  }
   
  to {
    background-color: var(--clr-yellow-piece-highlight);
    border: 2px solid white;

    box-shadow: 0 0 3px 3px white;

  }
}

.cell:nth-of-type(1) {
}

.cell.main {
    /* z-index: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--cell-size) / 1.2);
    height: calc(var(--cell-size) / 1.2);
    border-radius: 50%;
    overflow: hidden;
    
}
 
/* New */
.cell-design {
  position: relative;
  width: calc(var(--cell-size) / 1.2);
  height: calc(var(--cell-size) / 1.2);
  background-color: #071c3f;
  border-radius: 50%;
  border: 5px solid var(--clr-board-circle-border); 
  box-shadow: 0px 0px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cell-design::before {
  content: '';
  width: calc(var(--cell-size) / 1.6);
  height: calc(var(--cell-size) / 2);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* left:  */
  /* top: 0; */
  border-radius: 50%;
  background-color: var(--clr-board-main);
  box-shadow: 0px 0px 20px var(--clr-board-main);
  opacity: 70%;
}  


.cell.drop-cell{
  /* Hidden */
  width: calc(var(--cell-size) / 1.2);
  height: calc(var(--cell-size) / 1.2);
  border-radius: 50%;
  /* background-color: rebeccapurple; */
  /* display: none; */
  
}
.btn-reset,
.btn-concede {
  background: none; 
  border: none;
  font-size: .7em;
  padding: .7em;
  transition: ease-in .4s;
  font-weight: 500;
  box-shadow: 0 0 2px rgba(7, 7, 7, .9);
  /* color: #fff; 
  color: #000;  */
}
.btn-reset {
  
  border: .1rem solid var(black);
  /* color: #fff;  */

}

.btn-reset:hover {
  /* background-color: var(--clr-red-piece-highlight); */
  /* background-image: linear-gradient(rgb(100, 100, 100), rgb(42, 51, 61)); */

}

.btn-concede {
  border: .1rem solid var(black);
  /* color: #fff;  */

}
.btn-concede:hover {
  /* background-image: linear-gradient(rgb(235, 1, 1), rgb(116, 22, 22)); */

}

.win-lose-draw-msg {
  text-transform: capitalize;
}




.img-name-container {
  border: none;
  position: relative; 
  /* max-width: min(20vw, 12rem); */
}

.player-img {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  /* max-width: 2.0rem; */
  /* height: 6.0rem; */
  width: 7rem;
  height: 7rem;
  max-width: 95%;
  /* background-color: rgb(73, 78, 78); */
  border-radius: .2rem;
  border: .2rem solid #000;
  /* border: 3px solid oldlace;  */
}
.player-img.my {
  /* border: 3px solid rgb(82, 218, 82); */
}

.friend-img,
.my-img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}
.names-txt {
  font-size: .8em;
  /* font-size: 1rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-one,
.player-two {
  border-left: .2rem solid black;
}



.g-info-container {
  width: 98%;
  background-color: palegoldenrod;
  /* grid-column:  1 / 3; */
}


@keyframes drop-piece {
  /* Use JS to change seconds and each  */
  /* from {
    top: calc(var(--cell-size) * -5); 
    left: calc(var(--cell-size) * 9.5 + .9rem);
    background-color: rebeccapurple; 
  }

   to { 
    top: 100px;
    top: calc(var(--cell-size) * -8.5 + -.9rem);
    background-color: #7d8fad;
    left: 10px;
    top: calc(var(--cell-size) - var(--cell-size));
    top: -100px;

  } */
  
}



 @media (min-width: 30em) {
  body {
    background-color: rebeccapurple;
  }
 }
 
 /* Tablet */
 @media (min-width: 48em) {
 

 }







