:root {
  --fs-main: 1.6rem;
  --fw-main: 500;
  /* --ff-main:  */
  --clr-ludo-border: rgb(36, 36, 36);
  --clr-ludo-outline: rgba(7, 7, 7, .9);
  /* --clr-red-square : linear-gradient(red,rgb(206, 1, 1));
  --clr-green-square : linear-gradient(rgb(124, 252, 0),rgb(107, 212, 2));
  --clr-yellow-square: linear-gradient(rgb(255, 253, 106), rgb(228, 224, 0));
  --clr-blue-square : linear-gradient(rgb(109, 168, 236), rgb(90, 140, 197)); */

  --clr-red-square : #dd0d11;
  --clr-red-square-dark : #dd0d11;
  --clr-green-square : #6cb32f;
  --clr-yellow-square: #f9b509;
  --clr-blue-square : #26b2e9;

  /* --grid-size: min(90vw, 50rem); */
  --grid-size: min(95vw, 50rem);
  --cell-size: calc(var(--grid-size) / 15);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-main);
  /* font-family: var(--ff-main); */
  line-height: 1.2;

}

/* ludo Canvas */
.ludo-container {
  min-height: 100vh;
  margin-inline: auto;
  width: min(95%, 105.0rem);  
  background-image: linear-gradient(slategray, rgb(39, 65, 92));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Grid container ludo */
.ludo-grid {
  /* height: 500px;
  width: 500px; */
  display: grid;
  grid-template-columns: repeat(15, calc(var(--grid-size) / 15));
  grid-template-rows: repeat(15, calc(var(--grid-size) / 15));
  border: .1rem solid var(--clr-ludo-border);
  /* box-shadow: 0px 4px 4px 2px rgb(138, 138, 138); */

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-left: .1rem solid var(--clr-ludo-outline);
    border-bottom: .1rem solid var(--clr-ludo-outline);
}

/* Red base */
.cell:nth-of-type(1) {
  grid-column: 1 / 7;
  grid-row: 1 / 7;
  background-color: var(--clr-red-square);
  background-image: linear-gradient(var(--clr-red-square), var(--clr-red-square-dark));
  border: .2rem solid black;
}

/* Green base */
.cell:nth-of-type(5) {
  grid-column: 10 / 16;
  grid-row: 1 / 7;
 
  background-color: var(--clr-green-square);
  background-image: var(--clr-green-square); 
  border: .2rem solid black;
}

/* center base */
.cell:nth-of-type(27) {
  /* position: relative; */
  background-color: var(--clr-ludo-border);
  grid-column: 7 / 10;
  grid-row: 7 / 10;
  
}
.triangles-container {
  overflow: hidden;
  position: relative;
  width: 98%;
  height: 98%;
}

.tri {
  height: 100%;
  width: 100%;
}

.tri.one {
 background-color: var(--clr-green-square);
 transform: translate(0%, -72%) rotate(45deg);
}

.tri.two {
 background-color: var(--clr-yellow-square);
 /* background-image: linear-gradient(-45deg, rgb(145, 53, 145), white); */
 transform: translate(0%, -28%) rotate(45deg);
}

.tri.three {
  position: absolute;
  left: 0;
  top: 0;
 background-color: var(--clr-red-square);
 /* background-image: linear-gradient(-45deg, black, white); */
 transform: translate(-72%, 0%) rotate(45deg);

}
.tri.four {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--clr-blue-square);
 /* background-image: linear-gradient(-45deg, pink, white); */
 transform: translate(72%, 0%) rotate(45deg);
}


/* yellow base */
.cell:nth-of-type(58) {
  background-color: var(--clr-yellow-square);
  background-image: var(--clr-yellow-square); 
  grid-column: 1 / 7;
  grid-row: 10 / 16;
  border: .2rem solid black;

}
/* blue base */
.cell:nth-of-type(62) {
  /* background-color: blue;
  background-image: var(--clr-blue-square); */
  background-color: var(--clr-blue-square);

  grid-column: 10 / 16;
  grid-row: 10 / 16;
  border: .2rem solid black;

}


/* Looks like a dice */
.base-design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 70%;
  height: 70%;
  background-color: #fff;
  border-radius: 15%; 
  border: .1rem solid var(--clr-ludo-outline);
  box-shadow: 0px 1px 7px 4px rgba(0,0,0, .2);  
  rotate: 45deg;
}

.piece-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 55%;
  border-radius: 50%;
  rotate: -45deg;

}
.red-des > .piece-holder {
  
  background-color: var(--clr-red-square);
  /* possible highlight style */
  /* background-image: radial-gradient(red, rgb(202, 68, 68));    */

  /* Circular look  and can also lessen the width and height*/
}
.green-des > .piece-holder {
  
  background-color: var(--clr-green-square);
  /* possible highlight style */
  /* background-image: radial-gradient(green, rgb(52, 172, 52));    */

  /* Circular look  and can also lessen the width and height*/
  /* border-radius: 50%; */
}
.yellow-des > .piece-holder {
  
  background-color: var(--clr-yellow-square);
  /* possible highlight style */
  /* background-image: radial-gradient(yellow, rgb(167, 167, 51));    */

  /* Circular look  and can also lessen the width and height*/
  /* border-radius: 50%; */
}
.blue-des > .piece-holder {
 
  background-color: var(--clr-blue-square);
  /* possible highlight style */
  /* background-image: radial-gradient(blue, rgb(58, 58, 116));    */

  /* Circular look  and can also lessen the width and height*/
  /* border-radius: 50%; */
}

/* piece bottom circle */
[piece-1].red,
[piece-2].red,
[piece-3].red,
[piece-4].red {
  /* background-color: rgb(136, 117, 117);  */
  background-image: linear-gradient(red,maroon);
  width: calc(var(--cell-size) / 2); 
  height: calc(var(--cell-size) / 2.2); 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  box-shadow: 0 0 .2rem  rgb(36, 36, 36);
}
[piece-1].green,
[piece-2].green,
[piece-3].green,
[piece-4].green {
  /* background-color: rgb(136, 117, 117); */
  background-image: var(--clr-green-square); 
  width: calc(var(--cell-size) / 2);
  height: calc(var(--cell-size) / 2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
[piece-1].yellow,
[piece-2].yellow,
[piece-3].yellow,
[piece-4].yellow {
  /* background-color: rgb(136, 117, 117); */
  background-image: var(--clr-yellow-square); 
  width: calc(var(--cell-size) / 2);
  height: calc(var(--cell-size) / 2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
[piece-1].blue,
[piece-2].blue,
[piece-3].blue,
[piece-4].blue {
  /* background-color: rgb(136, 117, 117); */
  background-image: var(--clr-blue-square); 
  width: calc(var(--cell-size) / 2);
  height: calc(var(--cell-size) / 2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.piece-head.red {
  background-color: rgb(44, 29, 29);
  background-image: linear-gradient(red, maroon);
  box-shadow: 0 0 .1rem  rgb(36, 36, 36);
  width: 60%;
  height: 900%;
  transform: translateY(-40%);
  border-radius: 50%;
  z-index: 2;
}
.piece-head.green {
  background-color: green;
  background-image: var(--clr-green-square);
  width: 50%;
  height: 50%;
  transform: translateY(-90%);
  border-radius: 70%;
  z-index: 2;
}
.piece-head.yellow {
  background-color: yellow;
  background-image: var(--clr-yellow-square);
  width: 50%;
  height: 50%;
  transform: translateY(-90%);
  border-radius: 70%;
  z-index: 2;
}
.piece-head.blue {
  background-color: blue;
  background-image: var(--clr-blue-square);
  width: 50%;
  height: 50%;
  transform: translateY(-90%);
  border-radius: 70%;
  z-index: 2;
}
.piece-neck.red {
  background-color: red;
  /* background-color: skyblue; */
  /* background-image: var(--clr-red-square); */

  width: 50%;
  height: 450%;
  border-radius: 50%;
  transform: translateY(-140%);
}
.piece-neck.green {
  background-color: green;
  background-image: var(--clr-green-square);
  width: 38%;
  height: 60%;
  border-radius: 50%;
  transform: translateY(-120%);
}
.piece-neck.yellow {
  background-color: yellow;
  background-image: var(--clr-yellow-square);
  width: 38%;
  height: 60%;
  border-radius: 50%;
  transform: translateY(-120%);
}
.piece-neck.blue {
  background-color: blue;
  background-image: var(--clr-blue-square);
  width: 38%;
  height: 60%;
  border-radius: 50%;
  transform: translateY(-120%);
}

.green-start {
  background-color: var(--clr-green-square);
  /* background-image: var(--clr-green-square); */
}

.green.cell {
  background-color: var(--clr-green-square);
  /* background-image: var(--clr-green-square); */
}
.red-start {
  background-color: var(--clr-red-square);
  /* background-image: var(--clr-red-square); */
}

.red.cell {
  background-color: var(--clr-red-square);
  /* background-image: var(--clr-red-square); */
}

.yellow-start {
  background-color: var(--clr-yellow-square);
  /* background-image: var(--clr-yellow-square); */
}

.yellow.cell {
  background-color: var(--clr-yellow-square);
  /* background-image: var(--clr-yellow-square); */
}

.blue-start {
  background-color: blue;
  background-image: var(--clr-blue-square);
}

.blue.cell {
  background-color: var(--clr-blue-square);
  /* background-image: var(--clr-blue-square); */
}

.arrow.cell {
  /* padding: 1rem; */
  /* background-color: slategrey;
  border-top: calc(var(--cell-size) / 2.5) solid transparent;
  border-left: calc(var(--cell-size) / 2) solid transparent;
  border-right: calc(var(--cell-size) / 2) solid transparent;
  border-bottom: calc(var(--cell-size) / 1.2) solid black; */
}

.arrow.red {
  width: 70%;
  height: 70%; 
  /* background-color: slategrey; */
  border-top: calc(var(--cell-size) / 2.5) solid transparent;
  border-left: calc(var(--cell-size) / 1.5) solid var(--clr-red-square);
  border-right: calc(var(--cell-size) / 12) solid transparent;
   /* border-right: calc(var(--cell-size) / 2) solid transparent; */
  border-bottom: calc(var(--cell-size) / 2.5) solid transparent;  
}

.safe-square::after {
  /* position: abs; */
  content: '';
  width: 70%;
  height: 70%;
  background-color: rebeccapurple;
  border-radius: 50%;
}











.img-name-container {
  border: none;
  position: relative; 
  /* max-width: min(20vw, 12rem); */
}

.player-img {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  /* max-width: 2.0rem; */
  /* height: 6.0rem; */
  width: 7rem;
  height: 7rem;
  max-width: 95%;
  /* background-color: rgb(73, 78, 78); */
  border-radius: .2rem;
  border: .2rem solid #000;
  /* border: 3px solid oldlace;  */
}
.player-img.my {
  /* border: 3px solid rgb(82, 218, 82); */
}

.friend-img,
.my-img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}
.names-txt {
  font-size: .8em;
  /* font-size: 1rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-one,
.player-two {
  border-left: .2rem solid black;
}



.g-info-container {
  width: 100%;
  background-color: palegoldenrod;
  /* grid-column:  1 / 3; */
}


 .dice-container {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 .die:hover {
  cursor: pointer;
 }

 @media (min-width: 30em) {
 }
 
 /* Tablet */
 @media (min-width: 48em) {
 

 }







